/* ===================================
   HEADER
=================================== */

.top-bar{
    background:#0f172a;
    color:#ffffff;
    font-size:14px;
    padding:8px 0;
}

.top-bar .container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;
}

.divider{
    opacity:.4;
}

.online-dot{
    width:10px;
    height:10px;
    background:#22c55e;
    border-radius:50%;
    display:inline-block;
    margin-right:6px;
    animation:pulse 1.5s infinite;
}

@keyframes pulse{

0%{
transform:scale(1);
opacity:1;
}

50%{
transform:scale(1.4);
opacity:.5;
}

100%{
transform:scale(1);
opacity:1;
}

}

header{

position:sticky;

top:0;

left:0;

z-index:999;

background:#ffffff;

box-shadow:0 4px 15px rgba(0,0,0,.08);

}

.header-container{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 0;

}

.logo{

display:flex;

align-items:center;

gap:15px;

}

.logo img{

width:65px;

height:65px;

border-radius:50%;

object-fit:cover;

}

.logo h2{

font-size:24px;

color:#0f172a;

}

.logo p{

font-size:13px;

color:#666;

}

nav ul{

display:flex;

gap:30px;

list-style:none;

}

nav ul li a{

text-decoration:none;

font-weight:600;

color:#222;

transition:.3s;

}

nav ul li a:hover{

color:#e8491d;

}

.active{

color:#e8491d!important;

}

.header-icons{

display:flex;

align-items:center;

gap:15px;

}

.cart-btn{

position:relative;

font-size:22px;

text-decoration:none;

}

#cartCount{

position:absolute;

top:-8px;

right:-10px;

background:#e8491d;

color:white;

font-size:12px;

padding:2px 7px;

border-radius:50%;

}

#menuBtn{

display:none;

cursor:pointer;

font-size:28px;

background:none;

border:none;

}
/* Header after scrolling */

.header-scrolled{

background:#ffffff;

box-shadow:0 8px 25px rgba(0,0,0,.12);

transition:.3s;

}

/* Mobile Menu */

.show-menu{

display:block !important;

}